body {
  font-family: 'Open Sans', Arial, sans-serif; }

#header,
.jumbotron {
  background-color: #004973;
  color: #bbb;
  text-align: center; }

.jumbotron hr {
  border-top: 1px solid rgba(255, 255, 255, 0.35); }

h1.display-3 {
  color: #fff;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 25px; }

code {
  margin-bottom: 20px; }

.demo-group {
  margin: 0 0 30px 0; }

.demo-group h2 {
  margin-bottom: 15px; }

.demo-group h3 {
  margin-top: 30px; }

#demo1-target {
  height: 200px;
  background: #000;
  transition: background 500ms ease-in-out; }
  #demo1-target[data-range-value='0'] {
    background: #000; }
  #demo1-target[data-range-value='5'] {
    background: #ccc; }
  #demo1-target[data-range-value='10'] {
    background: #f67; }
  #demo1-target[data-range-value='15'] {
    background: #ff6600; }
  #demo1-target[data-range-value='20'] {
    background: #ffcc00; }
  #demo1-target[data-range-value='25'] {
    background: #69c; }
  #demo1-target[data-range-value='30'] {
    background: yellow; }
  #demo1-target[data-range-value='35'] {
    background: magenta; }
  #demo1-target[data-range-value='40'] {
    background: teal; }
  #demo1-target[data-range-value='45'] {
    background: green; }

#demo2-target {
  display: table-cell;
  height: 200px;
  width: 100%;
  background: #000;
  transition: background 500ms ease-in-out; }
  #demo2-target[data-range-value='0'] {
    background: #000; }
  #demo2-target[data-range-value='10'] {
    background: #ccc; }
  #demo2-target[data-range-value='20'] {
    background: #f67; }
  #demo2-target[data-range-value='30'] {
    background: #ff6600; }
  #demo2-target[data-range-value='40'] {
    background: #ffcc00; }
  #demo2-target[data-range-value='50'] {
    background: #69c; }
  #demo2-target[data-range-value='60'] {
    background: yellow; }
  #demo2-target[data-range-value='70'] {
    background: magenta; }
  #demo2-target[data-range-value='80'] {
    background: teal; }
  #demo2-target[data-range-value='90'] {
    background: green; }

.proficio-range-vertical {
  display: table-cell; }

#demo3-target {
  height: 200px;
  width: 100%;
  background: #000;
  transition: background 500ms ease-in-out; }
  #demo3-target[data-range-value='0'] {
    background: #000; }
  #demo3-target[data-range-value='10'] {
    background: #ccc; }
  #demo3-target[data-range-value='20'] {
    background: #f67; }
  #demo3-target[data-range-value='30'] {
    background: #ff6600; }
  #demo3-target[data-range-value='40'] {
    background: #ffcc00; }
  #demo3-target[data-range-value='50'] {
    background: #69c; }
  #demo3-target[data-range-value='60'] {
    background: yellow; }
  #demo3-target[data-range-value='70'] {
    background: magenta; }
  #demo3-target[data-range-value='80'] {
    background: teal; }
  #demo3-target[data-range-value='90'] {
    background: green; }

#demo4-target {
  height: 200px;
  width: 100%;
  background: #000;
  transition: background 250ms ease-in-out; }
  #demo4-target[data-range-value='1'] {
    background: #000; }
  #demo4-target[data-range-value='2'] {
    background: #ccc; }
  #demo4-target[data-range-value='3'] {
    background: #f67; }
  #demo4-target[data-range-value='4'] {
    background: #ff6600; }
  #demo4-target[data-range-value='5'] {
    background: #ffcc00; }
  #demo4-target[data-range-value='6'] {
    background: #69c; }
  #demo4-target[data-range-value='7'] {
    background: yellow; }
  #demo4-target[data-range-value='8'] {
    background: magenta; }
  #demo4-target[data-range-value='9'] {
    background: teal; }
  #demo4-target[data-range-value='10'] {
    background: green; }
